<%= form_with(model: @article, local: true) do |form| %>
  <div class="">
    <%=form.label :Servicio%>
    <%=form.text_field :sv%>

    <%=form.label :Nombre%>
    <%=form.text_field :name%>

    <%=form.label :edad%>
    <%=form.text_field :age%>

    <%=form.label :sexo%>
    <%=form.text_field :sex%>

    <%=form.label :etnia%>
    <%=form.text_field :rza%>
 <br>
    <%=form.label :estado_civil%>
    <%=form.text_field :ec%>

    <%=form.label :escolaridad%>
    <%=form.text_field :esc%>

    <%=form.label :ocupacion%>
    <%=form.text_field :ocu%>

    <%=form.label :religion%>
    <%=form.text_field :rgn%>
<br>
    <%=form.label :lugar_De_Origen%>
    <%=form.text_field :lugo%>

    <%=form.label :domicilio%>
    <%=form.text_field :dom%>

    <%=form.label :telefono%>
    <%=form.text_field :tel%>

  </div>
  <div class="card" style="padding:15px;">
    <h4>Heredo Familiares</h4>
  </div>
  <div class="">
    <label for="">Diabetes,etc  </label>
    <%=form.text_field :hf%>
  </div>



  <div class="">
    <%= form.submit %>
  </div>

<%end%>
