= form_for @post,remote: true do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .mdl-textfield.mdl-js-textfield.full-width
    = f.label :tittle,"Escribe un titulo",class:"mdl-textfield__label"
    = f.text_area :tittle,class:"mdl-textfield__input",rows:"3"
    = f.label :body,"Escribe una descripcion",class:"mdl-textfield__label"
    = f.text_area :body,class:"mdl-textfield__input",rows:"3"


  .actions.text-right
    = f.submit 'Publicar',class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"



<!-- <form class="new_post" id="new_post" action="/posts" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
<div class='field'>
<label for="post_tittle">Titulo:</label>
<br>

<textarea name="post[tittle]" id="post_tittle"></textarea>
</div>
<div class='field'>
<label for="post_body">Mensaje </label>
<br>
<textarea name="post[body]" id="post_body"></textarea>
</div>
<div class='actions'>
<input type="submit" name="commit" value="Publicar" data-disable-with="Save" />
</div>
<br><br>
<%= form_for :posts do |f| %>
<p>
<%= f.label :"Título:", class:"h4" %><br>
<%= f.text_field :tittle, class:"form-control", :placeholder => "Dale un título a tu publicación, escribe lo que estas buscando. " %>
</p>

<p>
<%= f.label :"Descripción:", class:"h4" %><br>
<%= f.text_area :body, class:"form-control",  :placeholder => "Añade una descripcion, datos que se deben de conocer, contacto, e informacion" %>
</p>


<div class="actions text-right">

<%= f.submit 'Publicar',class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>

</div>

<% end %>
</form> -->
