
<div class="frmpst container">
<center>
  <h1>Publicaciones Realizadas</h1>
  <br>

  <table class="table table-hover">
    <tr>
      <th>Usuario</th>
      <th>Título</th>
      <th>Contenido</th>
    </tr>

    <% @posts.each do |post| %>
    <tr>
      <td><%= post.user[:username] %></td>
      <td><%= post.tittle %></td>
      <td><%= post.body %></td>
      <td>  <%= link_to "Ver post", post %> </td>
      <td>  <%= link_to "Editar post", edit_post_path(post) %> </td>
      <td>  <%= link_to "Eliminar post", post, method: :delete, data: { confirm: '¿Estas seguro?' } %> </td>
    </tr>
    <% end %>
  </table>
</center>
</div>

<!-- %h1 Lista De Posts

%table
  %thead
    %tr
      %th Usuario
      %th Titulo
      %th Mensaje
      %th -
      %th -
      %th -

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.user[:username]
        %td= post.tittle
        %td= post.body
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Post', new_post_path -->
